

<div id="contenedor">
    <h1>{{ detalle.nombre }} {{ detalle.apellidos }}</h1>
  
    <article>
      <section>
        <h3>Edad</h3>
        <p>{{ detalle.edad }}</p>
      </section>
  
      <section>
        <h3>Nacionalidad</h3>
        <p>{{ detalle.nacionalidad }}</p>
      </section>

      <section>
        <h3>Libro sugerido</h3>
        <p>{{ detallelibro.titulo }}</p>
      </section>
  
    </article>
  
    <div id="footer">
      <p>&copy; All rights reserved. Created by Jorge Suárez</p>
    </div>
  </div>

