

<div id="contenedor">

    <h1 style="text-align: center;">EDICIÓN DE LIBRO</h1>
  
  <div class="container">
      <div class="row" class="col-md-5" style="margin-left: 30%; margin-top: 10%; background: rgba(0,0,0, 0.80); color: white;">
          <form #libro="ngForm" (ngSubmit)="onSubmit(libro)">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" value="{{detalle.id}}" name="id" #id [(ngModel)]="libroModel.id" required >
                <div *ngIf="this.libroModel.validarTitulo" style="color: red; font-size: 0.8rem;">El campo título tiene que ser menor de 100 caracteres</div>
              </div>
              <div class="form-group">
                <label>Introduce Título ddel libro*</label>
                <input type="text" class="form-control" placeholder="{{detalle.titulo}}" name="titulo" #titulo [(ngModel)]="libroModel.titulo" required >
                <div *ngIf="this.libroModel.validarTitulo" style="color: red; font-size: 0.8rem;">El campo título tiene que ser menor de 100 caracteres</div>
              </div>
              <div class="form-group">
                <label>Introduce Sinopsis*</label>
                <input type="text" class="form-control" placeholder="{{detalle.sinopsis}}" name="sinopsis" #sinopsis [(ngModel)]="libroModel.sinopsis" required>
                <div *ngIf="this.libroModel.validarSinopsis" style="color: red; font-size: 0.8rem;">El campo sinopsis tiene que ser menor de 300 caracteres</div>
              </div>
              <div class="form-group">
                  <label>Introduce Ejemplares vendidos*</label>
                  <input type="number" class="form-control" placeholder="{{detalle.vendidos}}" name="vendidos" #vendidos [(ngModel)]="libroModel.vendidos" required>
                  <div *ngIf="this.libroModel.validarVendidos" style="color: red; font-size: 0.8rem;">El campo ejemplares vendidos tiene que ser menor de 50 caracteres</div>
                </div>
              <div class="form-group">
                  <label>Introduce fecha de publicacion*</label>
                  <input type="date" class="form-control" placeholder="{{detalle.publicacion}}" name="publicacion" #publicacion [(ngModel)]="libroModel.publicacion" required>
                </div>
                <div class="form-group">
                  <label>Introduce escritor*</label>
                  <select  class="form-control" name="escritor" #escritor [(ngModel)]="libroModel.escritor"  >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="escritorOption" *ngFor="let escritorOption of escritores">{{escritorOption.nombre}}</option>
                  </select>                 
                </div>
                        
              <button type="submit" [disabled]="!libro.form.valid"  class="btn btn-primary"  style="margin-left: 10%;">GUARDAR</button>

             <a class="btn btn-primary" routerLink="/adminlibros" role="button" style="margin-left: 8%;">CANCELAR</a>

          </form>
      </div>
    </div>
  </div>
  
